/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root,
html,
body {
  --nav-h: 70px;
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: #f2f3f7;
  margin: 0;
}

.p-component {
  font-family: 'Poppins', inherit;
}
